# Jessica Gale

## What was the batting average in 2020?

I have always been interested in sports growing up. I have played soccer, field hockey, and basketball, as well as I coached soccer for two years at my high school. I do enjoy watching baseball which is why I am interested in pursuing this topic on Baseball. I watch the Toronto Blue Jays games fairly often as my partner is a big sports guy! I liked this dataset specifically because its up to date and has data from 2020. I have decided to look into the batting average in 2020 across the teams or just one team in the dataset. Once I get more familiar with the dataset, I may tweak my question a bit so I am able to answer it. This dataset is quite large, so I also may need to narrow down my question to make it attainable. Overall, I am excited that our dataset is on a topic of interest, as sports are a big part of my life!

In [1]:
import pandas as pd

In [4]:
pd.__version__

'1.3.3'

In [5]:
Batting = pd.read_csv("../data/raw/Batting.csv")

In [6]:
People = pd.read_csv("../data/raw/People.csv")

In [7]:
Pitching = pd.read_csv("../data/raw/Pitching.csv")

In [8]:
Fielding = pd.read_csv("../data/raw/Fielding.csv")

In [11]:
Batting

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abercda01,1871,1,TRO,NaN,1,4,0,0,0,...,0.0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,0.0
1,addybo01,1871,1,RC1,NaN,25,118,30,32,6,...,13.0,8.0,1.0,4,0.0,NaN,NaN,NaN,NaN,0.0
2,allisar01,1871,1,CL1,NaN,29,137,28,40,4,...,19.0,3.0,1.0,2,5.0,NaN,NaN,NaN,NaN,1.0
3,allisdo01,1871,1,WS3,NaN,27,133,28,44,10,...,27.0,1.0,1.0,0,2.0,NaN,NaN,NaN,NaN,0.0
4,ansonca01,1871,1,RC1,NaN,25,120,29,39,11,...,16.0,6.0,2.0,2,1.0,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108784,zimmebr02,2020,1,BAL,AL,2,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
108785,zimmejo02,2020,1,DET,AL,3,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
108786,zimmeky01,2020,1,KCA,AL,16,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
108787,zuberty01,2020,1,KCA,AL,23,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
108788,zuninmi01,2020,1,TBA,AL,28,75,8,11,4,...,10.0,0.0,0.0,6,37.0,0.0,3.0,0.0,0.0,0.0