# Austin Wayling

## Research question/interests

I have always loved following sports and stats and my favoutite is baseball. The movie Moneyball introduced me to the idea of a team using data analysis to compete despite having a substantially smaller budget. I am interested in way teams value different stats and how they have changed over time.

In [173]:
import pandas as pd
import numpy as np

In [174]:
pd.__version__

'1.3.2'

In [175]:
batting = pd.read_csv("../data/raw/Batting.csv")

In [176]:
batting

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abercda01,1871,1,TRO,NaN,1,4,0,0,0,...,0.0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,0.0
1,addybo01,1871,1,RC1,NaN,25,118,30,32,6,...,13.0,8.0,1.0,4,0.0,NaN,NaN,NaN,NaN,0.0
2,allisar01,1871,1,CL1,NaN,29,137,28,40,4,...,19.0,3.0,1.0,2,5.0,NaN,NaN,NaN,NaN,1.0
3,allisdo01,1871,1,WS3,NaN,27,133,28,44,10,...,27.0,1.0,1.0,0,2.0,NaN,NaN,NaN,NaN,0.0
4,ansonca01,1871,1,RC1,NaN,25,120,29,39,11,...,16.0,6.0,2.0,2,1.0,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108784,zimmebr02,2020,1,BAL,AL,2,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
108785,zimmejo02,2020,1,DET,AL,3,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
108786,zimmeky01,2020,1,KCA,AL,16,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
108787,zuberty01,2020,1,KCA,AL,23,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
108788,zuninmi01,2020,1,TBA,AL,28,75,8,11,4,...,10.0,0.0,0.0,6,37.0,0.0,3.0,0.0,0.0,0.0

In [177]:
people = pd.read_csv("../data/raw/People.csv")

In [178]:
pitching = pd.read_csv("../data/raw/Pitching.csv")

In [179]:
salaries = pd.read_csv("../data/raw/Salaries.csv")

In [180]:
fielding = pd.read_csv("../data/raw/Fielding.csv")

# Milestone 3

## Task 1 EDA

In [181]:
batting.shape

(108789, 22)

In [182]:
people.shape

(20343, 24)

In [183]:
pitching.shape

(48399, 30)

In [184]:
fielding.shape

(144768, 18)

In [185]:
people.describe()

,birthYear,birthMonth,birthDay,deathYear,deathMonth,deathDay,weight,height
count,20232.00000,20064.000000,19924.000000,9953.000000,9952.000000,9951.000000,19527.000000,19607.000000
mean,1935.16469,6.631280,15.615840,1966.792726,6.477090,15.522360,187.949096,72.357321
std,42.99697,3.463585,8.762774,33.211640,3.531599,8.788588,22.421965,2.617070
min,1820.00000,1.000000,1.000000,1872.000000,1.000000,1.000000,65.000000,43.000000
25%,1897.00000,4.000000,8.000000,1943.000000,3.000000,8.000000,172.000000,71.000000
50%,1943.00000,7.000000,16.000000,1969.000000,6.000000,15.000000,185.000000,72.000000
75%,1974.00000,10.000000,23.000000,1994.000000,10.000000,23.000000,200.000000,74.000000
max,2001.00000,12.000000,31.000000,2021.000000,12.000000,31.000000,320.000000,83.000000

In [186]:
batting.describe()

,yearID,stint,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
count,108789.000000,108789.000000,108789.000000,108789.000000,108789.000000,108789.000000,108789.000000,108789.000000,108789.000000,108033.000000,106421.000000,85248.000000,108789.000000,106689.000000,72139.000000,105973.000000,102721.000000,72686.000000,83348.000000
mean,1967.221631,1.078914,50.740488,139.241320,18.483496,36.388605,6.202024,1.247075,2.850150,16.790388,2.918775,1.177353,12.842907,20.559814,1.055227,1.057958,2.197087,1.022893,2.893495
std,39.747437,0.286916,46.889589,183.602089,28.043230,52.188884,9.627314,2.595462,6.368678,26.225046,7.608039,2.682099,20.595082,28.514873,2.709589,2.291269,4.154759,1.930262,4.672691
min,1871.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1937.000000,1.000000,12.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1976.000000,1.000000,34.000000,46.000000,4.000000,8.000000,1.000000,0.000000,0.000000,3.000000,0.000000,0.000000,2.000000,9.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2001.000000,1.000000,79.000000,224.000000,27.000000,56.000000,9.000000,1.000000,2.000000,24.000000,2.000000,1.000000,18.000000,29.000000,1.000000,1.000000,3.000000,1.000000,4.000000
max,2020.000000,5.000000,165.000000,716.000000,198.000000,262.000000,67.000000,36.000000,73.000000,191.000000,138.000000,42.000000,232.000000,223.000000,120.000000,51.000000,67.000000,19.000000,36.000000

In [187]:
pitching.describe()

,yearID,stint,W,L,G,GS,CG,SHO,SV,IPouts,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
count,48399.000000,48399.000000,48399.000000,48399.000000,48399.000000,48399.000000,48399.000000,48399.000000,48399.000000,48399.000000,...,33821.000000,48399.000000,47665.000000,48399.000000,48396.000000,48399.000000,48399.000000,29212.000000,29212.000000,28081.000000
mean,1972.196781,1.081035,4.550073,4.550073,23.470754,9.151181,2.931280,0.418500,1.481539,244.894895,...,2.251234,2.575322,2.357957,0.292609,349.414807,6.216430,41.544929,2.660003,2.141106,5.753641
std,38.408926,0.287923,5.707027,4.913383,18.532130,12.129555,6.873115,1.076348,4.968260,252.987651,...,2.703067,3.659715,3.136546,0.740074,354.282289,9.864816,42.499043,3.237716,2.345834,6.287859
min,1871.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1945.000000,1.000000,0.000000,1.000000,7.000000,0.000000,0.000000,0.000000,0.000000,47.000000,...,0.000000,0.000000,0.000000,0.000000,71.000000,0.000000,10.000000,0.000000,0.000000,1.000000
50%,1983.000000,1.000000,2.000000,3.000000,21.000000,2.000000,0.000000,0.000000,0.000000,158.000000,...,1.000000,1.000000,1.000000,0.000000,229.000000,3.000000,27.000000,1.000000,1.000000,4.000000
75%,2005.000000,1.000000,7.000000,7.000000,35.000000,16.000000,2.000000,0.000000,1.000000,375.000000,...,3.000000,4.000000,3.000000,0.000000,538.000000,8.000000,65.000000,4.000000,3.000000,8.000000
max,2020.000000,5.000000,60.000000,48.000000,106.000000,75.000000,75.000000,16.000000,62.000000,2040.000000,...,23.000000,83.000000,54.000000,16.000000,2906.000000,84.000000,519.000000,27.000000,17.000000,47.000000

In [188]:
salaries.describe()

             yearID        salary
count  26428.000000  2.642800e+04
mean    2000.878727  2.085634e+06
std        8.909314  3.455348e+06
min     1985.000000  0.000000e+00
25%     1994.000000  2.947020e+05
50%     2001.000000  5.500000e+05
75%     2009.000000  2.350000e+06
max     2016.000000  3.300000e+07

In [189]:
fielding.describe()

,yearID,stint,G,GS,InnOuts,PO,A,E,DP,PB,WP,SB,CS,ZR
count,144768.000000,144768.000000,144768.000000,98612.000000,114839.000000,144768.000000,144768.000000,144767.000000,144768.00000,11709.000000,1169.000000,8922.000000,8922.000000,1169.000000
mean,1964.755257,1.077683,35.029426,26.250375,701.955059,81.828795,34.421840,3.713996,7.15252,5.269792,10.473909,25.199059,13.705783,0.956373
std,41.867356,0.284705,41.129545,40.332710,1046.790281,184.388800,78.453239,7.788602,19.39990,9.306995,11.016078,31.217453,19.736831,1.623557
min,1871.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1931.000000,1.000000,5.000000,0.000000,53.000000,2.000000,1.000000,0.000000,0.00000,0.000000,2.000000,2.000000,0.000000,0.000000
50%,1975.000000,1.000000,19.000000,7.000000,216.000000,9.000000,7.000000,1.000000,1.00000,2.000000,7.000000,13.000000,6.000000,0.000000
75%,2001.000000,1.000000,47.000000,32.000000,770.000000,72.000000,26.000000,4.000000,3.00000,6.000000,16.000000,39.000000,19.000000,1.000000
max,2020.000000,5.000000,165.000000,164.000000,4469.000000,1846.000000,641.000000,119.000000,194.00000,114.000000,63.000000,293.000000,189.000000,15.000000

In [190]:
batting.columns

Index(['playerID', 'yearID', 'stint', 'teamID', 'lgID', 'G', 'AB', 'R', 'H',
       '2B', '3B', 'HR', 'RBI', 'SB', 'CS', 'BB', 'SO', 'IBB', 'HBP', 'SH',
       'SF', 'GIDP'],
      dtype='object')

In [191]:
salaries.columns

Index(['yearID', 'teamID', 'lgID', 'playerID', 'salary'], dtype='object')

In [192]:
pitching.columns

Index(['playerID', 'yearID', 'stint', 'teamID', 'lgID', 'W', 'L', 'G', 'GS',
       'CG', 'SHO', 'SV', 'IPouts', 'H', 'ER', 'HR', 'BB', 'SO', 'BAOpp',
       'ERA', 'IBB', 'WP', 'HBP', 'BK', 'BFP', 'GF', 'R', 'SH', 'SF', 'GIDP'],
      dtype='object')

In [193]:
fielding.columns

Index(['playerID', 'yearID', 'stint', 'teamID', 'lgID', 'POS', 'G', 'GS',
       'InnOuts', 'PO', 'A', 'E', 'DP', 'PB', 'WP', 'SB', 'CS', 'ZR'],
      dtype='object')

In [194]:
people.columns

Index(['playerID', 'birthYear', 'birthMonth', 'birthDay', 'birthCountry',
       'birthState', 'birthCity', 'deathYear', 'deathMonth', 'deathDay',
       'deathCountry', 'deathState', 'deathCity', 'nameFirst', 'nameLast',
       'nameGiven', 'weight', 'height', 'bats', 'throws', 'debut', 'finalGame',
       'retroID', 'bbrefID'],
      dtype='object')

In [195]:
salaries.isnull().describe()

       yearID teamID   lgID playerID salary
count   26428  26428  26428    26428  26428
unique      1      1      1        1      1
top     False  False  False    False  False
freq    26428  26428  26428    26428  26428

In [196]:
#Salaries start in 1985
batting = batting.drop(batting[batting["yearID"] < 1985].index)

In [197]:
batting["PA"] = batting["AB"] + batting["BB"] + batting["HBP"] + batting["SH"] + batting["SF"]
batting

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP,PA
62254,aasedo01,1985,1,BAL,AL,54,0,0,0,0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
62255,abregjo01,1985,1,CHN,NL,6,9,0,0,0,...,0.0,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0,9.0
62256,ackerji01,1985,1,TOR,AL,61,0,0,0,0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
62257,adamsri02,1985,1,SFN,NL,54,121,12,23,3,...,1.0,1.0,5,23.0,3.0,1.0,3.0,0.0,2.0,130.0
62258,agostju01,1985,1,CHA,AL,54,0,0,0,0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108784,zimmebr02,2020,1,BAL,AL,2,0,0,0,0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
108785,zimmejo02,2020,1,DET,AL,3,0,0,0,0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
108786,zimmeky01,2020,1,KCA,AL,16,0,0,0,0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
108787,zuberty01,2020,1,KCA,AL,23,0,0,0,0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
108788,zuninmi01,2020,1,TBA,AL,28,75,8,11,4,...,0.0,0.0,6,37.0,0.0,3.0,0.0,0.0,0.0,84.0

In [198]:
#Drops MLB non-qualified hitters for 162 games
batting = batting.drop(batting[batting["PA"] < 502].index)
batting

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP,PA
62275,backmwa01,1985,1,NYN,NL,145,520,77,142,24,...,30.0,12.0,36,72.0,1.0,1.0,14.0,3.0,3.0,574.0
62278,baineha01,1985,1,CHA,AL,160,640,86,198,29,...,1.0,1.0,42,89.0,8.0,1.0,0.0,10.0,23.0,693.0
62283,balbost01,1985,1,KCA,AL,160,600,74,146,28,...,1.0,1.0,52,166.0,4.0,5.0,0.0,5.0,14.0,662.0
62288,barfije01,1985,1,TOR,AL,155,539,94,156,34,...,22.0,8.0,66,143.0,5.0,4.0,0.0,3.0,14.0,612.0
62293,barrema02,1985,1,BOS,AL,156,534,59,142,26,...,7.0,5.0,56,50.0,3.0,2.0,12.0,4.0,14.0,608.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107333,voitlu01,2019,1,NYA,AL,118,429,72,113,21,...,0.0,0.0,71,142.0,2.0,9.0,0.0,1.0,12.0,510.0
107336,vottojo01,2019,1,CIN,NL,142,525,79,137,32,...,5.0,0.0,76,123.0,2.0,4.0,0.0,3.0,14.0,608.0
107344,walkech02,2019,1,ARI,NL,152,529,86,137,26,...,8.0,1.0,67,155.0,6.0,6.0,0.0,1.0,11.0,603.0
107397,wongko01,2019,1,SLN,NL,148,478,61,136,25,...,24.0,4.0,47,83.0,5.0,13.0,6.0,5.0,2.0,549.0
107415,yelicch01,2019,1,MIL,NL,130,489,100,161,29,...,30.0,2.0,80,118.0,16.0,8.0,0.0,3.0,8.0,580.0

In [199]:
batting["yearID"].value_counts()

2007    156
2004    154
1999    153
2000    151
1998    148
2006    147
2003    147
2001    147
2002    146
1993    145
2005    144
2009    141
2016    139
2008    138
2010    138
1996    137
2014    137
2017    137
2012    135
2011    134
2013    134
1985    133
1997    133
2018    132
2015    131
1987    131
2019    130
1988    127
1990    125
1986    124
1991    121
1992    119
1989    117
1995    102
1994     14
Name: yearID, dtype: int64

In [200]:
#Dropping strike season
batting = batting.drop(batting[batting["yearID"] == 1994].index)
batting.shape

(4633, 23)

In [201]:
batting = pd.merge(batting, salaries, how = "inner", on = ["yearID", "playerID"])
batting.shape

(4174, 26)